@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

font-family: "Poppins", system-ui;
box-sizing: border-box;
margin: 0;
padding: 0;

}

body {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  background-color: #262626;
}

.calculator_container {

  width: 500px;
  height: 500px;
  background-color: #222;

}

.result_container {

  height: 200px;
  max-width: 100%;
  background-color: #fff;

}

.calculator_value_input {
  padding: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
}

.value_inputs_container {

    display: flex;

}